.command_line{
    user-select: text;
    h2{
        text-align: left;
    }
    p{
        // background-color: black;
        // color: rgb(233, 230, 230);
        text-align: left;
        strong{
            margin-bottom: 5px;
        }
    }
}