@import "tailwindcss";
:root {
    --x:50%;
    --y:50%;
    --errorColor:#f56c6c;
    --color:#5DBAAB;
    --background2:#d75959;
    --transitionBg:#000;
    --maskBg:rgba(101,108,133,.8);
    --background:#fff;
    --h4label:#409eff;
    --menu-font-color:#6f6d6d;
    --fontColor:#000000;
    --menuFontColorActive:#5DBAAB;
    --menuFontColor:#000;
    --fontSize:14px;
    --inputColor:white;
    --borderColor:#eee;
    --tabFontColor:#ac3aee;
    --codeBackground:#17191c;
    --codeFontColor:#ffffff;
    --logoShadow:rgba(0,0,0,0.3);
}


[data-theme="dark"] {
    --color:#5DBAAB;
    --transitionBg:#fff;
    --maskBg:rgba(0,0,0,.5);
    --background:#17191c;
    --h4label:#409eff;
    --menu-font-color:#fff;
    --fontColor:#ffffff;
    --menuFontColorActive:#5DBAAB;
    --menuFontColor:#97A2B6;
    --fontSize:14px;
    --inputColor:#303133;
    --borderColor:#202837;
    --tabFontColor:#ac3aee;
    --codeBackground:#fff;
    --codeFontColor:#000000;
    --logoShadow:rgba(255,255,255,1);
}
