@font-face {
  font-family: 'element-icons';
  src: url('element-plus/theme-chalk/src/fonts/element-icons.woff') format('woff'),
       url('element-plus/theme-chalk/src/fonts/element-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}