.home_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home_page {
    background-color: aquamarine;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    padding: 15px;
    span {
        font-weight: bold;
    }
}
.layout {
    flex: 1;
    display: flex;
    &_menu {
        font-size: 14px;
        font-weight: bold;
        width: 100px;
        flex-shrink: 0;
        border: 1px solid #eee;
        ul {
            li {
                line-height: 30px;
                cursor: pointer;
            }
        }
    }
    &_content{
        flex: 1;
    }
}