

h1,.hljs{
    text-align: left;
}
.hljs{
    font-size:20px;
    font-weight: bold;
    margin:10px 0;
}
.el-scrollbar__bar{
    z-index:2!important;
}

.el-dialog__header{
    margin-right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    .dialog__headercon{
        color: black;
        flex: 1;
    }
    .el-dialog__headerbtn{
        position: unset;
        width: 20px;
        height: 20px;
    }
}
.el-dialog__body{
    padding: 10px;
}
.el-dialog__footer{
    
    .dialog-footer{
        display: flex;
        justify-content: center;
    }
}


#subapp-viewport {
  height: 100%;
  font-family: fangsong;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 960px;
  .layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        height: 55px;
        display: flex;
        align-items: center;
        background-color: var(--background);
        border-bottom: 1px solid var(--borderColor);
    }
    .container{
        flex: 1;
        overflow: hidden;
        display: flex;

        .layout_menu {
            background-color: var(--background);
            font-size: var(--fontSize);
            font-weight: bold;
            flex-shrink: 0;
            border-right: 1px solid var(--borderColor);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .el-menu{
                width: 100%;
                height: calc(100% - 40px);
                overflow: hidden auto;
                border-right: none;
                background-color: var(--background);
                color: var(--fontColor);
                .menu_title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .el-sub-menu{
                    .el-sub-menu__title{
                        padding-right: unset;
                        color: var(--fontColor);
                    }
                    .el-sub-menu__title:hover{
                        color: var(--h4label);
                    }
                }
                .el-menu-item{
                    height: 56px;
                    border-bottom: 1px solid #eee;
                    user-select: none;
                    color: var(--fontColor);
                    span{
                        height: 40px;
                        line-height: 40px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .el-menu-item:hover{
                    background-color: var(--background);
                    color: var(--h4label);
                }
                .is-active{
                    color: var(--h4label);
                }
            }
            .custome_menu_btn{
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-top: .5px solid #ccc;
                cursor: pointer;
                color: var(--fontColor);
                padding: 0 20px;
                flex-shrink: 0;
                .el-icon{
                    font-size: 20px;
                }
                span{
                    margin-left: 10px;
                }
                &:hover{
                    background-color: var(--background);
                    // color: var(--el-menu-hover-bg-color);
                }
            }
            .drop_box{
                width: 5px;
                height: 100%;
                position: absolute;
                right: 0;
                cursor: ew-resize;
                z-index: 2;
            }
        }
        .layout_content{
            flex: 1;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: var(--background);
            &::-webkit-scrollbar{
              display: none;
            }
        }
        .login_active{
          background: #2c3e50;
        }
    }
    
  }
}
.toTop{
    position: fixed;
    left: 10px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background);
    color: var(--inputColor);
    font-size: var(--fontSize);
    cursor: pointer;
    border: 1px solid #eee;
    opacity: .5;
    img{
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover{
        opacity: 1;
    }
}