.use_axios{
    .img_transform{
        width: 219px;
        height: 219px;
        overflow: hidden;
        animation: rotaimg 10s linear infinite;
        border-radius: 50%;
    }
}
@keyframes rotaimg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}