.spreadjs{
    display: flex;
    flex-direction: column;
    .import_box{
        display: flex;
        padding: 15px 0;
        .upload_btn{
            .el-button{
                flex-shrink: 0;
            }
        }
        .drag_box{
            cursor: grab;
            width: 100px;
            height: 100px;
            background-color: aquamarine;
            border-radius: 5px;
            margin-left: 15px;
            font-size: 14px;
            text-align: center;
            line-height: 100px;
        }
    }
    .spread_view{
        flex: 1;
    }
}